<!doctype html>
<html>
        <head>
                <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script><!-- enable latex in markdown -->
                <meta charset="utf-8">
                <title>{{ page.title }}</title>
                <link rel="stylesheet" href="/assets/css/styles.css">
        </head>
        <body>
                {% include navigation.html %}

                <div id="container">
                <div id="content-wrap">
                <div class="blurb">

                {{ content }}

                </div><!-- /.blurb -->
                </div><!-- /.content-wrap -->
                {% include footer.html %}
                </div><!-- /.container -->
        </body>
</html>

